/* style.css */

body{
  background: #808080;
  color: rgb(255,182,193); 
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin:0;
}

nav{
  display:inline;
  font-size: 2em;
  font-family: 'Roboto', sans-serif;
} 

nav li {
  margin: 10px;
  display:inline;
}

nav ul {
  float: left;
  margin-top: 25px;
}

#logo{
  color: #fff;
  font-size: 35px;
  font-family: 'Roboto', cursive;
  float: left;
  margin-left: 50px;
}

.feature {border: 10px solid rgb(255,192,203);
margin: 15px;
padding: 15px 0;
text-align: center;
width: 1100px;
background: rgb(255,182,193);
}

#apropos {
  margin: 0 auto;
  width: 80%;
  display:flex
  flex-wrap: wrap;
  justify-content: center;
}

#baseline a:hover {
  position: relative;
  top: 1px;
  }

h1{
  font-family: 'Phosphate', sans-serif;
  color: #EE82EE; 
  font-weight: bolder;
  font-size: 2em;
}

h2 {
  font-family: 'Roboto', sans-serif;
  color: #EE82EE;
  font-weight: lighter;
  font-size: 1.5em;
}

p{
  color: #FFFFFF;
}

a { 
  color: #FFFFFF;
}

a:hover {
  text-decoration: none;
  color: #FF8C00;
}

#logo{
  color: #FF8C00;
  font-size: 35px;
  font-family: 'Phosphate', cursive;
}

/* Mis en forme de la baseline */
#baseline{
  background-color: #A9A9A9;
  text-align: center;
  background-size: cover;
  padding: 150px;
  color: #A9A9A9;
  text-shadow: 0px 0px 0px black;
}

#baseline h1 {
  color: #FF8C00;
  font-size: 50px;
}

#baseline a {
  color: white;
  font-size: 30px;
  font-weight: lighter;
  text-decoration: none;
}
